blog/*.log
blog/wp-config.php
blog/wp-content/advanced-cache.php
blog/wp-content/backup-db/
blog/wp-content/backups/
blog/wp-content/blogs.dir/
blog/wp-content/cache/
blog/wp-content/upgrade/
blog/wp-content/uploads/
blog/wp-content/wp-cache-config.php
blog/wp-content/plugins/hello.php

blog/.htaccess
blog/license.txt
blog/readme.html
blog/sitemap.xml
blog/sitemap.xml.gz

